## Data Analysis w/Panda
## Lab 12 VG-STATS
## Jae Choi

In [45]:
import pandas as pd

In [46]:
df = pd.read_csv('vgsales.csv')

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

### 1. Which company is the most common video game publisher?

In [48]:
common_publish = df['Publisher'].mode().item()
common_publish

'Electronic Arts'

### 2. What's the most common platform?

In [49]:
common_plat = df['Platform'].mode().item()
common_plat

'DS'

### 3. What about the most common genre?

In [50]:
common_genre = df['Genre'].mode().item()
common_genre

'Action'

### 4. What are â€ he top 20 highest grossing games?

In [51]:
top20_highest_gross = df[['Rank', 'Name', 'Global_Sales']].head(20)
top20_highest_gross

    Rank                                          Name  Global_Sales
0      1                                    Wii Sports         82.74
1      2                             Super Mario Bros.         40.24
2      3                                Mario Kart Wii         35.82
3      4                             Wii Sports Resort         33.00
4      5                      Pokemon Red/Pokemon Blue         31.37
5      6                                        Tetris         30.26
6      7                         New Super Mario Bros.         30.01
7      8                                      Wii Play         29.02
8      9                     New Super Mario Bros. Wii         28.62
9     10                                     Duck Hunt         28.31
10    11                                    Nintendogs         24.76
11    12                                 Mario Kart DS         23.42
12    13                   Pokemon Gold/Pokemon Silver         23.10
13    14                                       Wii Fit         22.72
14    15                                  Wii Fit Plus         22.00
15    16                            Kinect Adventures!         21.82
16    17                            Grand Theft Auto V         21.40
17    18                 Grand Theft Auto: San Andreas         20.81
18    19                             Super Mario World         20.61
19    20  Brain Age: Train Your Brain in Minutes a Day         20.22

### 5. For North American video game sales, what's the median?

In [52]:
median = df['NA_Sales'].median()
median

0.08

### 5a. Provide a secondary output showing ten games surrounding the median sales output -- assume that games with the same median values are sorted in descending order

In [75]:

median_output = df[df['NA_Sales'] < median][['Name', 'NA_Sales']].head().sort_values('NA_Sales', ascending=False)
median_output

AttributeError: 'DataFrame' object has no attribute 'item'

In [54]:
median_ouput1 = df[df['NA_Sales'] > median][['Name', 'NA_Sales']].tail().sort_values('NA_Sales', ascending=False)
median_ouput1

                                                    Name  NA_Sales
10975  Fighting Fantasy: The Warlock of Firetop Mountain      0.09
10990                                     I Love Puppies      0.09
10999                            Cake Mania: Main Street      0.09
11003                                            DaGeDar      0.09
11012                 NERF N-Strike: Double Blast Bundle      0.09

### 6. For the top-selling game of all time, how many standard deviations above/below the means are its sales for North America

In [55]:
highest_gross = df[['Name', 'NA_Sales', 'Global_Sales']].sort_values('Global_Sales', ascending=False).head(1)
highest_gross

         Name  NA_Sales  Global_Sales
0  Wii Sports     41.49         82.74

### 7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [56]:
df['NA_Sales'].mean()

0.26466742981082064

In [57]:
df['NA_Sales'].std()

0.8166830292988796

### 8. What year was Duck Hunt Released?

In [58]:
df.loc[df['Name'] == 'Duck Hunt']['Year']

9    1984.0
Name: Year, dtype: float64

### 9. What are â€ he top 5 highest grossing games?

In [59]:
df[['Rank', 'Name', 'Global_Sales']].head(5)

   Rank                      Name  Global_Sales
0     1                Wii Sports         82.74
1     2         Super Mario Bros.         40.24
2     3            Mario Kart Wii         35.82
3     4         Wii Sports Resort         33.00
4     5  Pokemon Red/Pokemon Blue         31.37

### 10. For Euro American video game sales, what's the median?

In [60]:
df['EU_Sales'].median()

0.02

### TEST

In [71]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(common_publish, 'Electronic Arts')
    assert_equal(common_plat, 'DS')
    assert_equal(common_genre, 'Action')
    assert_equal(top20_highest_gross.iloc[0].Name, 'Wii Sports')
    assert_equal(top20_highest_gross.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(median, 0.08)
    assert_equal(median_output, 'Name' 'NA_Sales')
    assert_equal(median_output1, ['Fighting Fantasy: The Warlock of Firetop Mountain',
	'I Love Puppies', 'Cake Mania: Main Street', 'DaGeDar', 'NERF N-Strike: Double Blast Bundle'])

    print("Success!!!")

test()

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().